body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #1f7a8c;
    color: white;
    text-align: center;
    padding: 20px;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    background: white;
    width: 260px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

button {
    width: 100%;
    padding: 10px;
    background: #1f7a8c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #145a66;
}